@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-grey5
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.buttonPrimary {
  @apply border-beige text-beige font-Lato font-black border-2 rounded px-6 py-2 flex gap-2
  hover:bg-grey4
}

.buttonSecondary {
  @apply border-beige text-beige font-Lato font-black rounded px-6 py-2 flex gap-2
  hover:bg-grey4
}

.buttonTiny {
  @apply text-beige font-Lato rounded px-3 py-1 flex justify-center gap-2
  hover:bg-grey4
}