@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*estilos globales para esconder la scrollbar y que solo aparezca la flecha para scrolear*/

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*______________*/

/**/
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slideInFromLeft 0.3s ease-out forwards;
}

.slide-right {
  animation: slideInFromRight 0.3s ease-out forwards;
}
/**/

body {
  @apply bg-grey5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header1 {
  @apply text-beige font-Marcellus text-2xl;
}
.header2 {
  @apply text-beige font-Marcellus text-xl;
}
.header3 {
  @apply text-beige font-Marcellus text-lg;
}
.subtitle1 {
  @apply text-beige font-Alegreya text-lg font-thin;
}

.subtitle2 {
  @apply text-beige font-Alegreya text-lg;
}

.body1 {
  @apply text-beige font-Lato text-base;
}

.buttonPrimary {
  @apply border-beige text-beige font-Lato font-black border-2 rounded px-6 py-2 flex gap-2  
  hover:bg-grey4;
}


.buttonSecondary {
  @apply border-beige text-beige font-Lato font-black rounded px-6 py-2 flex gap-2
  hover:bg-grey4;
}

.buttonTiny {
  @apply text-beige font-Lato rounded px-3 py-1 flex justify-center gap-2
  hover:bg-grey4;
}

.imageProductDetail {
  @apply h-80 rounded;
}

.cardTeamImg {
  @apply w-20 h-20 border-2 border-beige;
  border-radius: 50%;
}
